body{ font:12px/1.5 Arial, Helvetica, sans-serif; }

.wrap { margin: 0 auto; width: 960px; position: relative; }

/*header*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    z-index: 44;
    background: url(../images/fm_header_bg.png) repeat-x
}
#header #logo {
    position:absolute;
    left:10px;
    top:7px;
    width:123px;
    height:60px;
    z-index: 45;
}
#header #nav { position:absolute;right:5px;top:15px; color:#FFF; }
#header #nav a,
#header #nav a:hover { color:#FFF; }
#header #nav .m { margin-left: 15px; font: 14px/20px 'Microsoft YaHei','黑体'; color:#cacaca}
#header #nav .sline { padding: 0 15px; color: #8D7250; }

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #666;
    background: url(../images/fm_footer_bg.png) repeat-x
}
.footer a { color: #666; }

.uploadBox { 
    position: absolute;
    left: -32px;
    top: 50px;
    z-index: 99;
    visibility: hidden;
}
body:hover .uploadBox { visibility: visible; }

.panel {
    width: 558px;
    height: 210px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -300px;
    padding: 19px;
    background: url(../images/fm_panel_bg.png) no-repeat
}
.panel img.profile {
    position:absolute;
    left:45px;
    top:65px;
    max-width: 100px;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    -webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    border-radius: 500px 500px 500px 500px;
}
.panel img.profile:hover {
    -webkit-animation: profile-img-hover 1000ms ease-out 100ms infinite forwards;
    cursor: -webkit-grab;
}
.panel img.profile:active {
    -webkit-animation: profile-img-active 500ms linear 0 infinite forwards;
}
.panel .info {
    position: relative;
    padding: 35px 24px 0 165px; 
    color: #FFF; 
    line-height: 24px;
    font-size: 14px;
    text-indent: 30px;
}
.panel .info .nick {
    margin-top: 10px;
    text-align: right;
    padding-right: 30px;
}

.fm_content {
    width: 500px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -270px;
    background-color: rgba(0,0,0,.2);
    border: rgba(255,255,255,.3)1px solid;
    box-shadow: 0 1px 4px rgbargba(0,0,0,.1);
    padding: 30px;
}
.fm_content h2 {
    color: #fff;
    font-weight: 400;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    display: block;
}
.fm_content .about a {
    display: inline-block;
    margin: 12px 0;
    margin-right: 20px;
    opacity: .8;
    color: #fff;
}
.fm_content .about p { color: #fff; font-size: 14px; font-family: "微软雅黑"; }

.play-box { position: relative; height: 70px; }
.play-box a {
    display: inline-block;
    background: url(../images/fm_playbtn.png) no-repeat;
    margin-right: 20px;
    margin-top: 16px;
}
.play-box a:hover { opacity: .5; }

.play-box .prev {
    width: 34px;
    height: 34px;
    background-position: -90px -6px;
}
.play-box .next {
    width: 34px;
    height: 34px;
    background-position: -124px -6px;
}
.play-box .play {
    width: 45px;
    height: 45px;
    background-position: -45px 0;
}
.play-box .pause {
    width: 45px;
    height: 45px;
    background-position: 0 0;
    display:none;
}
.play-box .loading {
    width: 45px;
    height: 45px;
    background-position: -45px 0;
    display: none;
}
.play-box .error {
    width: 45px;
    height: 45px;
    background-position: 0 0;
    display:none;
}
.play-box .scrubber {
    display: inline-block;
    background-color: rgba(255,255,255,.255);
    width: 300px;
    height: 2px;
    position: relative;
    left: 5px;
    top: -16px;
}
.play-box .scrubber .loaded {
    width: 0;
    height: 2px;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    left: 0;
    cursor: pointer;
}
.play-box .scrubber .progress {
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.play-box .scrubber .pr_btn {
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    background: 0 0;
    background-color: #fff;
    width: 12px;
    height: 12px;
    margin: 0;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}
.play-box .time,
.play-box .loadtext { 
    position: absolute;
    right: 20px;
    bottom: 0px;
    color: #f9f9f9;
}
.play-box .loadtext { display: none; }
.play-box .time em { padding-right: 5px; }
.play-box .time strong { padding-left:5px;}
.play-box .error-message { 
    position: absolute;
    left: 140px;
    bottom: 15px;
    color: #f00;
    display: none;
}
.play-box .error-message a {
    background: none;
    color: #eee; 
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #999;
    white-space: wrap;
}

.playing .play, 
.playing .loading, 
.playing .error { display: none; }
.playing .pause, 
.playing .time { display: inline-block; }

.loading .play, 
.loading .pause, 
.loading .time,
.loading .error { display: none; }
.loading .loading, 
.loading .loadtext { display: inline-block; }

.error .time,
.error .play,
.error .pause,
.error .scrubber,
.error .loading,
.error .loadtext { display: none; }
.error .error { display: inline-block; }
.error .error-message { display: block; }

.ietips {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 520px;
    margin-left: -260px;
    margin-top: 100px;
    color: #fff;
    padding: 5px 10px;
}
.ietips .more {
    display: inline-block;
    opacity: .8;
    position: absolute;
    right: 10px;
    top: 5px;
}
.ietips a.more { color: #fff; }

.fm_right {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgbargba(0,0,0,.1);
    padding: 5px 0 0 5px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    z-index: 999;
}
.fm_right_show{ -webkit-transform: translateX(0); transform: translateX(0); }
.fm_right .detailBox {
    height: 100%;
    background-color: #fcfcfc;
    overflow: auto;
    width: 320px;
    padding-top:10px;
    padding-left:10px;
    font-size: 14px;
    font-family: "微软雅黑";
}

#detail{
    margin-bottom: 25px;
    text-indent: 25px;
    display: none;
}
#detail p { margin-bottom: 10px;}

#broadcasts {
    position: relative;
    margin-top: -20px;
    padding-bottom: 30px;
    display: none;
}

#broadcasts .cplaying{
    background-color: #F6F6F6;
    border: 1px dotted #DDD;
}
#broadcasts .citems {
    position: relative;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}
#broadcasts .citems .program {
    position: absolute;
    left: 100px;
    top: 5px;
}
#broadcasts .citems .program a {
    display: block;
    margin-bottom: 5px;
    color: #222629;
}
#broadcasts .citems .program p {
    color: #787a7c;
    margin-bottom: 5px;
}

#broadcasts .getmore {
    position: absolute;
    bottom: -30px;
    left: 80px;
    color: #787a7c;
    background-color: #fcfcfc;
    height: 40px;
    display: none;
}

#tour-box{
    position: relative;
    background: #e2e2e2 url("../images/mooning.jpg");
    margin: 450px auto 0;
    padding:60px 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tour {
    position: absolute;
    background: rgba(255, 255, 255, 0.80);
    font: 500 18px/1.8 'Optima', 'Verdana', 'Microsoft Yahei', sans-serif;
    color: #333;
    padding: 40px 25px 20px;
    width : 780px;
    top: -332px;
    left: 65px;
    text-shadow: 1px 1px 2px #FFF;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05); 
    -moz-box-shadow:    0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
    -ms-box-shadow:     0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);  
    -o-box-shadow:      0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
    box-shadow:         0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
}

.tour img.profile {
    max-width: 130px;
    margin-top: 5px;
    margin-bottom: 10px;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    -webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
}
.tour img.profile:hover {
    -webkit-animation: profile-img-hover 1000ms ease-out 100ms infinite forwards;
    cursor: -webkit-grab;
}
.tour img.profile:active {
    -webkit-animation: profile-img-active 500ms linear 0 infinite forwards;
}
.tour .entry-title {
    color: #222;
    font-size: 28px;
    font-weight: normal;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    text-decoration: none;
    margin-top: 10px;
    height: 60px;
    border-bottom: 1px solid #DDD;
    background: -webkit-linear-gradient(top,rgba(163,163,163,0.73),rgba(0,0,0,1));
    background: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(163,163,163,0.73)),to(rgba(0,0,0,1)));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-transition: color .5s linear,text-shadow .5s linear;
    -moz-transition: color .5s linear,text-shadow .5s linear;
    transition: color .5s linear,text-shadow .5s linear;
}
.tour .entry-desc {
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #FFF;
    text-align: left;
}

#tour-main {
    margin-top: 60px;
    border: 1px solid #a7a7a7;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 8px 1.5px rgba(0,0,0,.35);
}

.content { margin: 0 7.6% 30px; position: relative; }

.content .related-posts {
    width: 95.5%;
    margin: 30px auto 50px;
    text-align: center;
}
.content .related-posts>h3 {
    color: #999;
    margin: -10px auto 20px;
    font-size: 20px;
}

.content .related-box {
    max-width: 130px;
    min-width: 100px;
    height: 130px;
    margin: 5px 12px 0;
    float: left;
}
.content .related-box a {
    font-size: 13px;
    color: #969696;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
    width: auto;
    overflow: hidden;
}
.content .related-box img {
    max-width: 130px;
    max-height: 87px;
    border: 2px solid #e1e1e1;
    border-radius: 9px;
}

.content .entry-content {
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.content .entry-content .imgbox {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.content .entry-content .imgbox .desc {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgbargba(0,0,0,.7);
    color: #fff;
    font-size: 14px;
    display: none;
    text-align: left;
}
.content .entry-content .imgbox:hover .desc {
    display: block;
}
.content .entry-content .imgbox .desc p {
    padding: 10px 10px 5px; 
}
.content .entry-content img {
    box-shadow: 0 1px 6px 1px rgba(0,0,0,0.25);
    border-radius: 2px;
    margin: 15px auto;
    max-width: 800px;
}

.content .entry-meta {
    margin: 0 auto;
    color: #b4b4b4;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px dashed #BBB; 
    padding: 20px 0;
    text-align: center;
}
.content .entry-meta span {
    color: #969696;
    padding: 0 5px;
}

.content .entry-nav {
     padding: 20px 0; 
     position: relative; 
}
.content .entry-nav .r { 
    position: absolute; 
    right: 0; 
    top: 20px; 
}